<app-spinner *ngIf="isLoading"></app-spinner>

<div class="media">
  <div class="media-body">
    <div class="header-container">
      <h4>Prana Arambh</h4>
      <a (click)="pranayamExportToExcel('Pranarambh')" class="export-link"
        >Export to Excel
      </a>
    </div>
    <div class="container_search">
      <input
        type="text"
        placeholder="Search by Name or Email"
        [(ngModel)]="filter.searchText"
        class="search-input form-control"
      />

      <div style="display: flex; align-items: center">
        <label for="fromDate" style="margin-inline-end: 8px">From Date:</label>
        <input
          type="date"
          id="pranaArambhFromDate"
          [(ngModel)]="filter.fromDate"
          class="date-input form-control"
        />
      </div>

      <div style="display: flex; align-items: center">
        <label for="toDate" style="margin-inline-end: 8px">To Date:</label>
        <input
          type="date"
          id="pranaArambhToDate"
          [(ngModel)]="filter.toDate"
          class="date-input form-control"
          [min]="filter.fromDate"
          [disabled]="!filter.fromDate"
        />
      </div>

      <div style="display: flex; align-items: center">
        <label for="toDate" style="margin-right: 8px">Payment status</label>
        <select
          (change)="onPayStatusValueChange($event.target.value)"
          class="search-input form-control"
        >
          <option *ngFor="let option of paymentOption" [value]="option.value">
            {{ option.name }}
          </option>
        </select>
      </div>
      <button (click)="getAllParayanamStudent(filter, true)">Search</button>
    </div>
    <div class="pranarambh-table-responsive">
      <table id="Pranarambh" class="table table-bordered table-striped">
        <thead class="table-secondary">
          <th style="width: 10% !important">Sl No.</th>
          <th>Student Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Payment Amount</th>
          <th>Payment Status</th>
          <th>Payment Type</th>
          <th>Payment Date</th>
          <th></th>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let student of students
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: p,
                      totalItems: pranayamStudentTotal,
                    };
              let i = index
            "
          >
            <td>{{ i + 1 + (p - 1) * 10 }}</td>
            <td>
              {{ student.studentInfo.firstName }}
              {{ student.studentInfo.lastName || "" }}
            </td>
            <td>{{ student.studentInfo.email }}</td>
            <td>{{ student.studentInfo.password }}</td>
            <td>
              <ng-container *ngIf="student.amount; else noPayment">
                {{ student.amount | currency: student.currency.toUpperCase() }}
              </ng-container>
              <ng-template #noPayment>N/A</ng-template>
            </td>
            <td
              [ngClass]="{
                'text-success': student?.paymentStatus == 'paid',
                'text-warning': student?.paymentStatus == 'pending',
              }"
            >
              <ng-container *ngIf="student.paymentStatus; else noPayment">
                {{ student.paymentStatus | titlecase }}
              </ng-container>
              <ng-template #noPayment>N/A</ng-template>
            </td>
            <td>
              <ng-container *ngIf="student.paymentBy; else noPayment">
                {{ student.paymentBy | titlecase }}
              </ng-container>
              <ng-template #noPayment>N/A</ng-template>
            </td>
            <td>
              <ng-container *ngIf="student.created; else noPayment">
                {{ student.created | date: "dd-MM-yyyy" }}
              </ng-container>
              <ng-template #noPayment>N/A</ng-template>
            </td>
            <td>
              <button class="delete-button" (click)="deleteRow(student)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <pagination-controls
        (pageChange)="onTableDataChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
