<div *ngIf="loading" class="loader-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="header-container">
  <h4>Rishikesh</h4>
  <a (click)="rishikeshExportToExcel('rishikesh_list')" class="export-link"
    >Export to Excel</a
  >
</div>
<div class="container_search">
  <input
    type="text"
    placeholder="Search by Name or Email or phone"
    class="search-input form-control"
    [(ngModel)]="rishikeshFilter.searchText"
  />
  <div style="display: flex; align-items: center">
    <label for="toDate" style="margin-inline-end: 8px">Payment status</label>
    <select
      (change)="onPayStatusValueChange($event.target.value)"
      class="search-input form-control"
    >
      <option *ngFor="let option of paymentOption" [value]="option.value">
        {{ option.name }}
      </option>
    </select>
  </div>
  <div style="display: flex; align-items: center">
    <label for="courseType" style="margin-inline-end: 8px">Course Type</label>
    <select
      (change)="onCourseTypeChange($event.target.value)"
      class="search-input form-control"
    >
      <option *ngFor="let option of courseTypeOption" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <button (click)="getRishikeshData(rishikeshFilter, true)">Search</button>
</div>
<div class="pranarambh-table-responsive">
  <table id="rishikesh_list" class="table table-bordered table-striped">
    <thead class="table-secondary">
      <th style="inline-size: 10% !important">Sl No.</th>
      <th>Student Name</th>
      <th>Course Type</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Price</th>
      <th>Payment Status</th>
      <th>Payment Type</th>
      <th>Payment Date</th>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let obj of rishikeshList
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: rishikeshPage,
                  totalItems: rishikeshTotal
                };
          let i = index
        "
      >
        <td>{{ i + 1 + (rishikeshPage - 1) * 10 }}</td>
        <td>
          {{ obj.name }}
        </td>
        <td>{{ obj.hour }} hour</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.phoneNumber }}</td>
        <td>{{ obj.price | currency : obj.currency }}</td>
        <td
          [ngClass]="{
            'text-success': obj?.paymentStatus == 'paid',
            'text-danger': obj?.paymentStatus == 'pending'
          }"
        >
          {{ obj.paymentStatus }}
        </td>
        <td>{{ obj.paymentType }}</td>
        <td>
          <ng-container *ngIf="obj.created; else noPayment">
            {{ obj.created | date : "dd-MM-yyyy" }}
          </ng-container>
          <ng-template #noPayment>N/A</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
  <pagination-controls
    (pageChange)="onRishikeshTableDataChange($event)"
  ></pagination-controls>
</div>
