<div
  *ngIf="
    isLoading ||
    swaraLoading ||
    bDtoxLoading ||
    fosLoading ||
    liveClassLoading ||
    pranicLoading ||
    twoHunTTCLoading ||
    octoberPrashantLoading
  "
  class="loader-overlay"
>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Dashboard</h4>
        <ngb-tabset>
          <ngb-tab [title]="'Prana Arambh (' + pranayamStudentTotal + ')'">
            <ng-template ngbTabContent>
              <div class="media">
                <div class="media-body">
                  <div class="header-container">
                    <h4>Prana Arambh</h4>
                    <a
                      (click)="pranayamExportToExcel('Pranarambh')"
                      class="export-link"
                      >Export to Excel
                    </a>
                  </div>
                  <div class="container_search">
                    <input
                      type="text"
                      placeholder="Search by Name or Email"
                      [(ngModel)]="filter.searchText"
                      class="search-input form-control"
                    />
                    <div style="display: flex; align-items: center">
                      <label for="fromDate" style="margin-right: 8px"
                        >From Date:
                      </label>
                      <input
                        type="date"
                        id="fromDate"
                        [(ngModel)]="filter.fromDate"
                        class="date-input form-control"
                      />
                    </div>
                    <div style="display: flex; align-items: center">
                      <label for="toDate" style="margin-right: 8px"
                        >To Date:</label
                      >
                      <input
                        type="date"
                        id="toDate"
                        [(ngModel)]="filter.toDate"
                        class="date-input form-control"
                        [min]="filter.fromDate"
                        [disabled]="!filter.fromDate"
                      />
                    </div>

                    <button (click)="getAllParayanamStudent(filter, true)">
                      Search
                    </button>
                  </div>
                  <div class="pranarambh-table-responsive">
                    <table
                      id="Pranarambh"
                      class="table table-bordered table-striped"
                    >
                      <thead class="table-secondary">
                        <th style="width: 10% !important">Sl No.</th>
                        <th>Student Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Payment Amount</th>
                        <th>Currency</th>
                        <th>Payment Status</th>
                        <th>Payment By</th>
                        <th>Payment Date</th>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let student of students
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: p,
                                    totalItems: pranayamStudentTotal
                                  };
                            let i = index
                          "
                        >
                          <td>{{ i + 1 + (p - 1) * 10 }}</td>
                          <td>
                            {{ student.firstName }} {{ student.lastName || "" }}
                          </td>
                          <td>{{ student.email }}</td>
                          <td>{{ student.password }}</td>
                          <td>
                            <ng-container
                              *ngIf="
                                student.paymentDetailsObject.amount;
                                else noPayment
                              "
                            >
                              {{ student.paymentDetailsObject.amount }}
                            </ng-container>
                            <ng-template #noPayment>N/A</ng-template>
                          </td>
                          <td>
                            <ng-container
                              *ngIf="
                                student.paymentDetailsObject.currency;
                                else noPayment
                              "
                            >
                              {{ student.paymentDetailsObject.currency }}
                            </ng-container>
                            <ng-template #noPayment>N/A</ng-template>
                          </td>
                          <td>
                            <ng-container
                              *ngIf="
                                student.paymentDetailsObject.paymentStatus;
                                else noPayment
                              "
                            >
                              {{ student.paymentDetailsObject.paymentStatus }}
                            </ng-container>
                            <ng-template #noPayment>N/A</ng-template>
                          </td>
                          <td>
                            <ng-container
                              *ngIf="
                                student.paymentDetailsObject.paymentBy;
                                else noPayment
                              "
                            >
                              {{ student.paymentDetailsObject.paymentBy }}
                            </ng-container>
                            <ng-template #noPayment>N/A</ng-template>
                          </td>
                          <td>
                            <ng-container
                              *ngIf="
                                student.paymentDetailsObject.created;
                                else noPayment
                              "
                            >
                              {{
                                student.paymentDetailsObject.created
                                  | date : "dd-MM-yyyy"
                              }}
                            </ng-container>
                            <ng-template #noPayment>N/A</ng-template>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="onTableDataChange($event)"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="'Breath Detox (' + breathDetoxTotal + ')'">
            <ng-template ngbTabContent>
              <div class="media">
                <div class="media-body">
                  <div class="header-container">
                    <h4>Breath Detox</h4>
                    <a
                      (click)="breathDetoxExportToExcel('BreathDetox')"
                      class="export-link"
                      >Export to Excel</a
                    >
                  </div>
                  <div class="container_search">
                    <input
                      type="text"
                      placeholder="Search by Name or Email or City or Phone number"
                      [(ngModel)]="breathDetoxfilter.searchText"
                      class="search-input form-control"
                    />

                    <div style="display: flex; align-items: center">
                      <label for="fromDate" style="margin-right: 8px"
                        >From Date:</label
                      >
                      <input
                        type="date"
                        id="breathDetoxfilterFromDate"
                        [(ngModel)]="breathDetoxfilter.fromDate"
                        class="date-input form-control"
                      />
                    </div>

                    <div style="display: flex; align-items: center">
                      <label for="toDate" style="margin-right: 8px"
                        >To Date:</label
                      >
                      <input
                        type="date"
                        id="toDate"
                        [(ngModel)]="breathDetoxfilter.toDate"
                        class="date-input form-control"
                        [min]="breathDetoxfilter.fromDate"
                        [disabled]="!breathDetoxfilter.fromDate"
                      />
                    </div>
                    <button
                      (click)="getAllBreathDetoxStudent(breathDetoxfilter)"
                    >
                      Search
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table
                      id="BreathDetox"
                      class="table table-bordered table-striped"
                    >
                      <thead class="table-secondary">
                        <tr>
                          <th style="width: 4% !important">Sl No.</th>
                          <th>StudentName</th>
                          <th>Email</th>
                          <th>Mobile</th>
                          <th>City</th>
                          <th>Is Active</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let breath of breathDetox
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: breathP,
                                    totalItems: breathDetoxTotal
                                  };
                            let j = index
                          "
                        >
                          <td>{{ j + 1 + (breathP - 1) * 10 }}</td>
                          <td>
                            {{ breath.firstName }} {{ breath.lastName || "" }}
                          </td>
                          <td>{{ breath.email }}</td>
                          <td>{{ breath.phoneNumber }}</td>
                          <td>{{ breath.city }}</td>
                          <td>{{ breath.isActive }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="onBreathDetoxTableDataChange($event)"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab
            [title]="'Foundation of Spirituality  (' + foundationTotal + ')'"
          >
            <ng-template ngbTabContent>
              <div class="media">
                <div class="media-body">
                  <div class="header-container">
                    <h4>Foundation of Spirituality</h4>
                    <a
                      (click)="foundationExportToExcel('Foundation')"
                      class="export-link"
                      >Export to Excel</a
                    >
                  </div>
                  <div class="container_search">
                    <input
                      type="text"
                      placeholder="Search by Name or Email"
                      [(ngModel)]="foundationDetoxfilter.searchText"
                      class="search-input form-control"
                    />
                    <button
                      (click)="
                        getAllFoundationOfSpiritualityStudent(
                          foundationDetoxfilter
                        )
                      "
                    >
                      Search
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table
                      id="Foundation"
                      class="table table-bordered table-striped"
                    >
                      <thead class="table-secondary">
                        <th style="width: 4% !important">Sl No.</th>
                        <th>Student Name</th>
                        <th>Email</th>
                        <th>Is Active</th>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let spiritualityStdnt of spiritualityStudent
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: foundationP,
                                    totalItems: foundationTotal
                                  };
                            let k = index
                          "
                        >
                          <td>{{ k + 1 + (foundationP - 1) * 10 }}</td>
                          <td>
                            {{ spiritualityStdnt.firstName }}
                            {{ spiritualityStdnt.lastName || "" }}
                          </td>
                          <td>{{ spiritualityStdnt.email }}</td>
                          <td>{{ spiritualityStdnt.isActive }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="onfoundationTableDataChange($event)"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="'Live Class Students (' + totalCustomersAll + ')'">
            <ng-template ngbTabContent>
              <div class="media">
                <div class="media-body">
                  <div class="header-container">
                    <h4>Live Class Students</h4>
                    <a
                      (click)="liveClassStudentExportToExcel('LiveClass')"
                      class="export-link"
                      >Export to Excel</a
                    >
                  </div>
                  <div class="container_search">
                    <input
                      type="text"
                      placeholder="Search by Name or Email or phone number"
                      [(ngModel)]="liveClassFilter.searchText"
                      class="search-input form-control"
                    />

                    <div style="display: flex; align-items: center">
                      <label for="fromDate" style="margin-right: 8px"
                        >From Date:</label
                      >
                      <input
                        type="date"
                        id="fromDate"
                        [(ngModel)]="liveClassFilter.fromDate"
                        class="date-input form-control"
                      />
                    </div>

                    <div style="display: flex; align-items: center">
                      <label for="toDate" style="margin-right: 8px"
                        >To Date:</label
                      >
                      <input
                        type="date"
                        id="toDate"
                        [(ngModel)]="liveClassFilter.toDate"
                        class="date-input form-control"
                        [min]="liveClassFilter.fromDate"
                        [disabled]="!liveClassFilter.fromDate"
                      />
                    </div>
                    <button
                      (click)="getAllLiveClassStudent(liveClassFilter, true)"
                    >
                      Search
                    </button>
                  </div>
                  <select
                    id="customerGroup"
                    class="form-control"
                    (change)="getAllLiveClassStudent(liveClassFilter, true)"
                    [(ngModel)]="liveClassFilter.course"
                  >
                    <option
                      *ngFor="let group of customerGroups"
                      [value]="group.courseName"
                    >
                      {{ group.courseName }}
                    </option>
                  </select>
                  <br />
                  <div class="table-responsive">
                    <table
                      id="LiveClass"
                      class="table table-bordered table-striped"
                    >
                      <thead class="table-secondary">
                        <tr>
                          <th style="width: 4%">Sl No.</th>
                          <th>Customer Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Course Time</th>
                          <th>Price</th>
                          <th>Currency</th>
                          <th>Payment Status</th>
                          <th>Payment Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let customer of customers
                              | paginate
                                : {
                                    itemsPerPage: 10,
                                    currentPage: liveClassPage,
                                    totalItems: totalCustomersAll
                                  };
                            let i = index
                          "
                        >
                          <td>{{ i + 1 + (liveClassPage - 1) * 10 }}</td>
                          <td>{{ customer?.name }}</td>
                          <td>{{ customer?.email }}</td>
                          <td>{{ customer?.phone }}</td>
                          <td>{{ customer?.courseTimming }}</td>
                          <td>
                            {{
                              customer?.price | currency : customer?.currency
                            }}
                          </td>
                          <td>{{ customer?.currency }}</td>
                          <td
                            [ngClass]="{
                              'text-success': customer?.paymentStatus == 'paid',
                              'text-danger': customer?.paymentStatus == 'unpaid'
                            }"
                          >
                            {{ customer?.paymentStatus }}
                          </td>
                          <td>{{ customer?.created | date : "dd-MM-yyyy" }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination">
                    <pagination-controls
                      (pageChange)="onLiveClassTableDataChange($event)"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="swarSadhnaTitle">
            <ng-template ngbTabContent>
              <div class="header-container">
                <h4>Swara Sadhana</h4>
                <a class="export-link" (click)="swaraExportToExcel()"
                  >Export to Excel</a
                >
              </div>
              <div class="container_search">
                <input
                  type="text"
                  placeholder="Search by Name or Email or phone"
                  [(ngModel)]="swaraSadhnaFilter.searchText"
                  class="search-input form-control"
                />

                <div style="display: flex; align-items: center">
                  <label for="fromDate" style="margin-right: 8px"
                    >From Date:</label
                  >
                  <input
                    type="date"
                    id="fromDate"
                    [(ngModel)]="swaraSadhnaFilter.fromDate"
                    class="date-input form-control"
                  />
                </div>

                <div style="display: flex; align-items: center">
                  <label for="toDate" style="margin-right: 8px">To Date:</label>
                  <input
                    type="date"
                    id="toDate"
                    [(ngModel)]="swaraSadhnaFilter.toDate"
                    class="date-input form-control"
                    [min]="swaraSadhnaFilter.fromDate"
                    [disabled]="!swaraSadhnaFilter.fromDate"
                  />
                </div>

                <button
                  (click)="getAllSwaraSadhnaStudent(swaraSadhnaFilter, true)"
                >
                  Search
                </button>
              </div>
              <div class="pranarambh-table-responsive">
                <table
                  id="Swara_Sadhana"
                  class="table table-bordered table-striped"
                >
                  <thead class="table-secondary">
                    <th style="width: 10% !important">Sl No.</th>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Password</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let obj of swaraSadhanaList
                          | paginate
                            : {
                                itemsPerPage: 10,
                                currentPage: swarSadhanaPage,
                                totalItems: swarSadhanaTotal
                              };
                        let i = index
                      "
                    >
                      <td>{{ i + 1 + (swarSadhanaPage - 1) * 10 }}</td>
                      <td>
                        {{ obj.name }}
                      </td>
                      <td>{{ obj.email }}</td>
                      <td>{{ obj.phone }}</td>
                      <td>{{ obj.city }}</td>
                      <td>{{ obj.password }}</td>
                      <td
                        [ngClass]="{
                          'text-success': obj?.paymentStatus == 'paid',
                          'text-warning': obj?.paymentStatus == 'pending',
                          'text-danger': obj?.paymentStatus == 'failed'
                        }"
                      >
                        {{ obj.paymentStatus }}
                      </td>
                      <td>
                        <ng-container *ngIf="obj.created; else noPayment">
                          {{ obj.created | date : "dd-MM-yyyy" }}
                        </ng-container>
                        <ng-template #noPayment>N/A</ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <pagination-controls
                  (pageChange)="onswarSadhnaTableDataChange($event)"
                ></pagination-controls>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="createSwaraSadhnaTitle">
            <ng-template ngbTabContent>
              <div class="container_search">
                <select
                  [(ngModel)]="selectedOption"
                  class="search-input form-control"
                >
                  <option [value]="0" disabled selected hidden>
                    Select a course
                  </option>
                  <option *ngFor="let option of options" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
                <input
                  type="text"
                  placeholder="Email"
                  [(ngModel)]="createSwaraSadhnaFrom.email"
                  class="search-input form-control"
                />
                <input
                  type="text"
                  placeholder="name"
                  [(ngModel)]="createSwaraSadhnaFrom.name"
                  class="search-input form-control"
                />
                <div style="display: flex; align-items: center">
                  <input
                    type="text"
                    id="whatsAppnumber"
                    placeholder="Whatsapp number"
                    [(ngModel)]="createSwaraSadhnaFrom.phone"
                    class="search-input form-control"
                  />
                </div>
                 <input
                 *ngIf="selectedOption == 1"
                  type="text"
                  placeholder="City"
                  [(ngModel)]="createSwaraSadhnaFrom.city"
                  class="search-input form-control"
                />
                <button
                  (click)="
                    registerSwarSadhanaWebinarUser(createSwaraSadhnaFrom)
                  "
                >
                  Register
                </button>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="pranicPurificationTitle">
            <ng-template ngbTabContent>
              <div class="header-container">
                <h4>Pranic Purification</h4>
                <a class="export-link">Export to Excel</a>
              </div>
              <div class="container_search">
                <input
                  type="text"
                  placeholder="Search by Name or Email or phone"
                  [(ngModel)]="pranicPurificationFilter.searchText"
                  class="search-input form-control"
                />

                <div style="display: flex; align-items: center">
                  <label for="fromDate" style="margin-right: 8px">
                    From Date:
                  </label>
                  <input
                    type="date"
                    id="fromDate"
                    [(ngModel)]="pranicPurificationFilter.fromDate"
                    class="date-input form-control"
                  />
                </div>

                <div style="display: flex; align-items: center">
                  <label for="toDate" style="margin-right: 8px">To Date:</label>
                  <input
                    type="date"
                    id="toDate"
                    [(ngModel)]="pranicPurificationFilter.toDate"
                    class="date-input form-control"
                    [min]="pranicPurificationFilter.fromDate"
                    [disabled]="!pranicPurificationFilter.fromDate"
                  />
                </div>

                <button
                  (click)="
                    getAllPranicPurificationStudent(
                      pranicPurificationFilter,
                      true
                    )
                  "
                >
                  Search
                </button>
              </div>
              <div class="pranarambh-table-responsive">
                <table
                  id="Pranic_Purification"
                  class="table table-bordered table-striped"
                >
                  <thead class="table-secondary">
                    <th style="width: 10% !important">Sl No.</th>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="wrap-field">Address</th>
                    <th>Price</th>
                    <th>Coupon code</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let obj of pranicPurificationList
                          | paginate
                            : {
                                itemsPerPage: 10,
                                currentPage: pranicPurificationPage,
                                totalItems: pranicPurificationTotal
                              };
                        let i = index
                      "
                    >
                      <td>{{ i + 1 + (pranicPurificationPage - 1) * 10 }}</td>
                      <td>
                        {{ obj.name }}
                      </td>
                      <td>{{ obj.email }}</td>
                      <td>{{ obj.phoneNumber }}</td>
                      <td class="address">{{ obj.address }}</td>
                      <td>{{ obj.price | currency : obj.currency }}</td>
                      <td
                        [ngClass]="{
                          'text-success': !obj?.couponUsed,
                          'text-danger': obj?.couponUsed
                        }"
                      >
                        {{ obj.couponcode }}
                      </td>
                      <td
                        [ngClass]="{
                          'text-success': obj?.paymentStatus == 'paid',
                          'text-warning': obj?.paymentStatus == 'pending',
                          'text-danger': obj?.paymentStatus == 'failed'
                        }"
                      >
                        {{ obj.paymentStatus }}
                      </td>
                      <td>
                        <ng-container *ngIf="obj.created; else noPayment">
                          {{ obj.created | date : "dd-MM-yyyy" }}
                        </ng-container>
                        <ng-template #noPayment>N/A</ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <pagination-controls
                  (pageChange)="onPranicPurificationTableDataChange($event)"
                ></pagination-controls>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="twoHunTTCTitle">
            <ng-template ngbTabContent>
              <div class="header-container">
                <h4>200 TTC</h4>
                <a class="export-link">Export to Excel</a>
              </div>
              <div class="container_search">
                <input
                  type="text"
                  placeholder="Search by Name or Email or phone"
                  [(ngModel)]="twoHunTTCFilter.searchText"
                  class="search-input form-control"
                />

                <div style="display: flex; align-items: center">
                  <label for="fromDate" style="margin-right: 8px">
                    From Date:
                  </label>
                  <input
                    type="date"
                    id="fromDate"
                    [(ngModel)]="twoHunTTCFilter.fromDate"
                    class="date-input form-control"
                  />
                </div>

                <div style="display: flex; align-items: center">
                  <label for="toDate" style="margin-right: 8px">To Date:</label>
                  <input
                    type="date"
                    id="toDate"
                    [(ngModel)]="twoHunTTCFilter.toDate"
                    class="date-input form-control"
                    [min]="twoHunTTCFilter.fromDate"
                    [disabled]="!twoHunTTCFilter.fromDate"
                  />
                </div>

                <button (click)="getAll200TTCStudent(twoHunTTCFilter, true)">
                  Search
                </button>
              </div>
              <div class="pranarambh-table-responsive">
                <table
                  id="two_hun_ttc"
                  class="table table-bordered table-striped"
                >
                  <thead class="table-secondary">
                    <th style="width: 10% !important">Sl No.</th>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let obj of twoHunTTCList
                          | paginate
                            : {
                                itemsPerPage: 10,
                                currentPage: twoHunTTCPage,
                                totalItems: twoHunTTCTotal
                              };
                        let i = index
                      "
                    >
                      <td>{{ i + 1 + (twoHunTTCPage - 1) * 10 }}</td>
                      <td>
                        {{ obj.name }}
                      </td>
                      <td>{{ obj.email }}</td>
                      <td>{{ obj.phoneNumber }}</td>
                      <td>{{ obj.price | currency : obj.currency }}</td>
                      <td
                        [ngClass]="{
                          'text-success': obj?.paymentStatus == 'paid',
                          'text-warning': obj?.paymentStatus == 'pending',
                          'text-danger': obj?.paymentStatus == 'failed'
                        }"
                      >
                        {{ obj.paymentStatus }}
                      </td>
                      <td>
                        <ng-container *ngIf="obj.created; else noPayment">
                          {{ obj.created | date : "dd-MM-yyyy" }}
                        </ng-container>
                        <ng-template #noPayment>N/A</ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <pagination-controls
                  (pageChange)="onTwoHunTTCTableDataChange($event)"
                ></pagination-controls>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab [title]="octoberPrashantTitle">
            <ng-template ngbTabContent>
              <div class="header-container">
                <h4>Prashant Jhakmola October Class</h4>
              </div>
              <div class="container_search">
                <input
                  type="text"
                  placeholder="Search by Name or Email or phone"
                  [(ngModel)]="octoberPrashantFilter.searchText"
                  class="search-input form-control"
                />
                <div style="display: flex; align-items: center">
                  <label for="toDate" style="margin-right: 8px"
                    >Payment status</label
                  >
                  <select
                    (change)="onPayStatusValueChange($event.target.value)"
                    class="search-input form-control"
                  >
                    <option
                      *ngFor="let option of paymentOption"
                      [value]="option.value"
                    >
                      {{ option.name }}
                    </option>
                  </select>
                </div>
                <button
                  (click)="
                    getAllOctoberPrashantStudent(octoberPrashantFilter, true)
                  "
                >
                  Search
                </button>
              </div>
              <div class="pranarambh-table-responsive">
                <table
                  id="two_hun_ttc"
                  class="table table-bordered table-striped"
                >
                  <thead class="table-secondary">
                    <th style="width: 10% !important">Sl No.</th>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let obj of octoberPrashantList
                          | paginate
                            : {
                                itemsPerPage: 10,
                                currentPage: octoberPrashantPage,
                                totalItems: octoberPrashantTotal
                              };
                        let i = index
                      "
                    >
                      <td>{{ i + 1 + (octoberPrashantPage - 1) * 10 }}</td>
                      <td>
                        {{ obj.name }}
                      </td>
                      <td>{{ obj.email }}</td>
                      <td>{{ obj.phoneNumber }}</td>
                      <td>{{ obj.price | currency : obj.currency }}</td>
                      <td
                        [ngClass]="{
                          'text-success': obj?.paymentStatus == 'paid',
                          'text-warning': obj?.paymentStatus == 'pending',
                          'text-danger':
                            obj?.paymentStatus == 'failed' ||
                            obj?.paymentStatus == 'unpaid'
                        }"
                      >
                        {{ obj.paymentStatus }}
                      </td>
                      <td>
                        <ng-container *ngIf="obj.created; else noPayment">
                          {{ obj.created | date : "dd-MM-yyyy" }}
                        </ng-container>
                        <ng-template #noPayment>N/A</ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <pagination-controls
                  (pageChange)="onoctoberPrashantTableDataChange($event)"
                ></pagination-controls>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
