<div *ngIf="fosLoading" class="loader-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <div class="header-container">
      <h4>Foundation of Spirituality</h4>
      <a (click)="foundationExportToExcel('Foundation')" class="export-link"
        >Export to Excel</a
      >
    </div>
    <div class="container_search">
      <input
        type="text"
        placeholder="Search by Name or Email"
        [(ngModel)]="foundationDetoxfilter.searchText"
        class="search-input form-control"
      />
      <button
        (click)="
          getAllFoundationOfSpiritualityStudent(foundationDetoxfilter, true)
        "
      >
        Search
      </button>
    </div>
    <div class="table-responsive">
      <table id="Foundation" class="table table-bordered table-striped">
        <thead class="table-secondary">
          <th style="inline-size: 4% !important">Sl No.</th>
          <th>Student Name</th>
          <th>Email</th>
          <th>Price</th>
          <th>Payment Status</th>
          <th>Payment Type</th>
          <th>Joining Date</th>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let spiritualityStdnt of spiritualityStudent
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: foundationPage,
                      totalItems: foundationTotal
                    };
              let k = index
            "
          >
            <td>{{ k + 1 + (foundationPage - 1) * 10 }}</td>
            <td>
              {{ spiritualityStdnt.name }}
            </td>
            <td>{{ spiritualityStdnt.email }}</td>
            <td>
              <ng-container *ngIf="spiritualityStdnt.price; else noPayment">
                {{
                  spiritualityStdnt?.price
                    | currency: spiritualityStdnt?.currency.toUpperCase()
                }}
              </ng-container>
              <ng-template #noPayment>N/A</ng-template>
            </td>
            <td
              [ngClass]="{
                'text-success': spiritualityStdnt?.paymentStatus == 'paid',
                'text-warning': spiritualityStdnt?.paymentStatus == 'pending'
              }"
            >
              <ng-container
                *ngIf="spiritualityStdnt.paymentStatus; else noPayment"
              >
                {{ spiritualityStdnt.paymentStatus }}
              </ng-container>
              <ng-template #noPayment>N/A</ng-template>
            </td>
            <td>{{ spiritualityStdnt.paymentType }}</td>
            <td>{{ spiritualityStdnt.created | date: "mediumDate" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <pagination-controls
        (pageChange)="onfoundationTableDataChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
