@import "../../../assets/scss/component-imports";

.spinner-wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(255, 255, 255, 0.7) !important;
  z-index: 99999 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  .donut {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(182, 109, 255, 0.3); /* Purple base */
    border-top-color: #b66dff; /* Purple as seen in user's Image 2 */
    animation: 1.5s spin infinite linear;
  }
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}