
<div class="page-header">
    <span>
    <h3 class="page-title">Mentors</h3><br>
    <h6>Total {{userlist.length}} mentors(s)</h6>
</span>
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/addmentor"
    >
      Add new Mentors
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Picture</th>
        <th>Thumbnail</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userlist">
        <th scope="row">{{item.name}}</th>
        <td>{{item.title}}</td>
        <td>
          <img src="{{imageUrl}}{{item.picture}}" class="image-show">
        </td>
        <td>
          <img src="{{imageUrl}}{{item.thumb}}" class="image-show">
        </td>
        <td>
          <a routerLink="/addmentor/{{item._id}}" class="btn btn-primary btn-sm">Edit</a>
          <a href="javascript:void(0)" (click)="deleteMentor(item._id)" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
