<app-spinner *ngIf="loading"></app-spinner>
<div class="login-wrapper">
  <div class="login-card">
    <div class="logo-container">
      <img src="assets/images/logo2.png" alt="Yoga vidya school" class="logo-img">
    </div>
    <h3 class="login-title">Login</h3>
    <form #loginForm="ngForm" (ngSubmit)="doLogin(formData)">
      <div class="mb-3">
        <input type="email" class="form-control custom-input" name="email" [(ngModel)]="formData.email" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control custom-input" name="password" [(ngModel)]="formData.password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary w-100 submit-btn">
        Submit
      </button>
    </form>
  </div>
</div>
