<div *ngIf="freeLoading" class="loader-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="header-container">
  <h4>Free Webinar</h4>
  <a class="export-link" (click)="sendBulkMail()">Send Bulk Mail</a>
</div>
<div class="container_search">
  <input
    type="text"
    placeholder="Search by Name or Email or phone"
    [(ngModel)]="freeWebinarFilter.searchText"
    class="search-input form-control"
  />

  <div style="display: flex; align-items: center">
    <label for="freeWebinarFromDate" style="margin-inline-end: 8px"
      >From Date:</label
    >
    <input
      type="date"
      id="freeWebinarFromDate"
      [(ngModel)]="freeWebinarFilter.fromDate"
      class="date-input form-control"
    />
  </div>

  <div style="display: flex; align-items: center">
    <label for="freeWebinarToDate" style="margin-inline-end: 8px"
      >To Date:</label
    >
    <input
      type="date"
      id="freeWebinarToDate"
      [(ngModel)]="freeWebinarFilter.toDate"
      class="date-input form-control"
      [min]="freeWebinarFilter.fromDate"
      [disabled]="!freeWebinarFilter.fromDate"
    />
  </div>

  <div style="display: flex; align-items: center">
    <label for="toDate" style="margin-right: 8px">Month</label>
    <select
      (change)="onMonthChange($event.target.value)"
      class="search-input form-control"
    >
      <option *ngFor="let option of monthOption" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <button (click)="getAllFreeWebinarData(freeWebinarFilter, true)">
    Search
  </button>
</div>
<div class="pranarambh-table-responsive">
  <table id="free_webinar" class="table table-bordered table-striped">
    <thead class="table-secondary">
      <th style="inline-size: 10% !important">Sl No.</th>
      <th>Student Name</th>
      <th>Email</th>
      <th>Month</th>
      <th>Joining Date</th>
      <th></th>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let obj of freeWebinarList
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: freeWebinarPage,
                  totalItems: freeWebinarTotal,
                };
          let i = index
        "
      >
        <td>{{ i + 1 + (freeWebinarPage - 1) * 10 }}</td>
        <td>
          {{ obj.name }}
        </td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.month }}</td>
        <td>{{ obj.created | date: "mediumDate" }}</td>
        <td>
          <button class="delete-button" (click)="deleteRow(obj)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
  <pagination-controls
    (pageChange)="onFreeTableDataChange($event)"
  ></pagination-controls>
</div>
