<app-spinner *ngIf="isLoading"></app-spinner>
<div class="page-header">
  <span>
    <h3 class="page-title">Yoga-Webinar</h3>
    <br />
    <h6>Total {{total}} Register User(s)</h6>
  </span>
 
</div>
<div class="filter-side col-15 px-0">
  <table [cellPadding]="10"  class="table">
    <thead class="table-secondary">
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>Company</th>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor="let data of registrationData | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total }">
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.city}}</td>
        <td>{{data.company}}</td>
       
      </tr>
    </tbody>
  <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
  </table>
</div>
